<!DOCTYPE html>
<html style="height: 100%;">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta name="searchtitle" content="">
    <meta name="title" content="">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link rel="shortcut icon" href="../static/images/favicon.ico" />
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" />
    <!--[if lt IE 9]>
    <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]    注意js文件的前后顺序 因为涉及到引用-->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../static/js/bootstrap.js"></script>
    <script type="text/javascript" src="../static/js/bootstrap-table.js"></script>

    <link rel="stylesheet" href="../static/css/limitup_whole_2.css" />
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../static/css/bootstrap-table.css" />
    <link rel="stylesheet" href="../static/css/bootstrap.css" />
    <link rel="stylesheet" href="../static/css/xeditable.css" />
    <link rel="stylesheet" href="../static/css/xeditable.min.css" />

    <script src="https://code.angularjs.org/1.5.8/angular.js"></script>
    <script src="https://code.angularjs.org/1.5.8/angular-sanitize.min.js"></script>
    <script src="https://code.angularjs.org/1.5.8/angular-mocks.js"></script>
    <script type="text/javascript" src="../static/js/xeditable.js"></script>
    <script type="text/javascript" src="../static/js/angular_table.js"></script>
</head>
<body style="height: 100%;">
<!-- Init Page Content Start -->

<section class="outer-section">
  <div class="outer-wrapper1">
    <!-- <img class="banner" src="images/qd_s1.png" alt="" /> -->
    <p contenteditable = "true">10月11日涨停板复盘</p>
  </div>
</section>

<section class="outer-section" >
  <div class="outer-wrapper2" style="height: 100%;">
    <br><br>
    <p style="color:red">@看懂龙头股(ID:mrztbfp)</p>
    <br>
    <h style="color:red; font-size: 30px; font-weight: bold;">I</h> <h style="padding:0px; margin:0px; font-size: 30px; font-weight: bold;">  每日独家涨停板统计</h> 
    <p style="color:grey">__________________________________________________________________</p>
    <br>
    <p style="color:red; margin:0px 0;font-weight:bold;">今日涨停板(10月11日) </p>
    <p style="margin:12px 0; font-size:20px">共<font face="宋体" size="6" color="red">20</font>只股涨停 非一字板<font face="宋体" size="6" color="red">16</font>只 10:00前<font face="宋体" size="6" color="red">16</font>只次新+填权概念<font face="宋体" size="6" color="red">16</font>只涨停最多</p> 
    <p style="font-weight: bold">__________________________________________________________________</p>
    <br>
    <p style="font-size:20px;margin:0px 0">昨日<font face="宋体" size="6" color="red">41</font>只股票涨停 非一字板<font face="宋体" size="6" color="red">35</font>只</p>
    <p style="margin:0px 0"> 以下统计均剔除新股等无量涨停不可能买入的个股</p>
    <p style="color:grey">__________________________________________________________________</p>
    <br>
    <p style="color:red; margin:0px 0;font-weight:bold;">昨日涨停个股今日开盘表现(10月10日) </p>
    <p style="margin:12px 0; font-size:20px">打板次日高开率<font face="宋体" size="6" color="red">46%</font>(高开股/总涨停股)</p> 
    <p style="font-weight: bold">__________________________________________________________________</p>
    <br>
    <p style="font-size:20px;margin:0px 0">一字开盘<font face="宋体" size="6" color="red">1</font>只</p>
    <p style="font-size:20px;margin:0px 0">高开5%以上<font face="宋体" size="6" color="red">0</font>只</p>
    <p style="font-size:20px;margin:0px 0">高开2%~5%之间<font face="宋体" size="6" color="red">4</font>只</p>
    <p style="font-size:20px;margin:0px 0">高开0~2%之间<font face="宋体" size="6" color="red">11</font>只</p>
    <p style="font-size:20px;margin:0px 0">低开0~-2%之间<font face="宋体" size="6" color="red">1</font>只</p>
    <p style="font-size:20px;margin:0px 0">低开-2%以下<font face="宋体" size="6" color="red">17</font>只</p>
    <p style="color:grey">__________________________________________________________________</p>
    <br>
    <p style="color:red; margin:0px 0;font-weight:bold;">昨日涨停个股今日收盘表现(10月10日) </p>
    <p style="margin:12px 0; font-size:20px">打板次日成功率<font face="宋体" size="6" color="red">49%</font>(上涨股/总涨停股)</p> 
    <p style="font-weight: bold">__________________________________________________________________</p>
    <br>
    <p style="font-size:20px;margin:0px 0">今日连板<font face="宋体" size="6" color="red">1</font>只</p>
    <p style="font-size:20px;margin:0px 0">涨5%以上<font face="宋体" size="6" color="red">0</font>只</p>
    <p style="font-size:20px;margin:0px 0">涨0%~5%之间<font face="宋体" size="6" color="red">4</font>只</p>
    <p style="font-size:20px;margin:0px 0">下跌<font face="宋体" size="6" color="red">11</font>只</p>
    <p style="font-size:20px;margin:0px 0">停牌<font face="宋体" size="6" color="red">1</font>只</p>
    <p style="color:grey">__________________________________________________________________</p>
    <br>
    <p style="color:red; margin:0px 0;font-weight:bold;">昨日10：00前<font face="宋体" size="6" color="red">16</font>只自然涨停(10月10日) </p>
    <p style="margin:12px 0; font-size:20px">打板次日高开率<font face="宋体" size="6" color="red">69%</font></p>
    <p style="margin:12px 0; font-size:20px">打板次日成功率<font face="宋体" size="6" color="red">69%</font></p>
    <p style="color:grey">__________________________________________________________________</p>
      <p contenteditable="true" style="border-style: solid; border-color: red">这是一段可编辑的文字</p>
      <p style="color:grey">__________________________________________________________________</p>
        {%raw%}
      <div ng-app="app" ng-controller="Ctrl">
          <form editable-form name="tableform" onaftersave="saveTable()" oncancel="cancel()">

              <!-- table -->
              <table class="table table-bordered table-hover table-condensed">
                  <tr style="font-weight: bold">
                      <td colspan="1" style="color: red">
                          {{timeString}}
                      </td>
                      <td colspan="4" align="center">其他涨停</td>
                  </tr>
                  <tr style="font-weight: bold">
                      <td style="width:20%">股票代码</td>
                      <td style="width:20%">股票名称</td>
                      <td style="width:20%">打板时间</td>
                      <td style="width:20%">第几板</td>
                      <td style="width:20%">概念</td>
                      <td style="width:10%"><span ng-show="tableform.$visible">Action</span></td>
                  </tr>
                  <tr ng-repeat="user in users | filter:filterUser">
                      <td>
                          <!-- editable username (text with validation) -->
                <span editable-text="user.code" e-form="tableform">
                  {{ user.code }}
                </span>
                      </td>
                      <td>
                          <!-- editable username (text with validation) -->
                <span editable-text="user.name" e-form="tableform" onbeforesave="checkName($data, user.id)">
                  {{ showName(user) }}
                </span>
                      </td>
                      <td>
                          <!-- editable status (select-local) -->
                <span editable-text="user.time" e-form="tableform">
                  {{ showTime(user) }}
                </span>
                      </td>
                      <td>
                          <!-- editable group (select-remote) -->
                <span editable-text="user.frequency" e-form="tableform" >
                  {{ showFrequency(user) }}
                </span>
                      </td>
                      <td>
                          <!-- editable group (select-remote) -->
                <span editable-text="user.concept" e-form="tableform" >
                  {{ showConcept(user) }}
                </span>
                      </td>
                      <td><button type="button" ng-show="tableform.$visible" ng-click="deleteUser(user.id)" class="btn btn-danger pull-right">删除</button></td>
                      <td><button type="button" ng-show="tableform.$visible" ng-click="generateData(user.id)" class="btn btn-danger pull-right">生成数据</button></td>

                  </tr>

              </table>

              <!-- buttons -->
              <div class="btn-edit">
                  <button type="button" class="btn btn-default" ng-show="!tableform.$visible" ng-click="tableform.$show()">
                      edit
                  </button>
              </div>
              <div class="btn-form" ng-show="tableform.$visible">
                  <button type="button" ng-disabled="tableform.$waiting" ng-click="addUser()" class="btn btn-default pull-right">add row</button>
                  <button type="submit" ng-disabled="tableform.$waiting" class="btn btn-primary">save</button>
                  <button type="button" ng-disabled="tableform.$waiting" ng-click="tableform.$cancel()" class="btn btn-default">cancel</button>
              </div>

          </form>
      </div>
      {%endraw%}
    <p style="color:grey">__________________________________________________________________</p>
    <br>
  </div>
</section>

<section class="outer-section">
  <div class="outer-wrapper3">
  </div>
</section>

<script>
</script>
</body>
</html>