<!DOCTYPE html>
<html style="height: 100%;">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta name="searchtitle" content="">
    <meta name="title" content="">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link rel="shortcut icon" href="../static/images/favicon.ico" />
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" />
    <!--[if lt IE 9]>
    <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]    注意js文件的前后顺序 因为涉及到引用-->
    <script type="text/javascript" > var ztbz_list = '{{ztbz_list| safe}}' </script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../static/js/bootstrap.js"></script>
    <script type="text/javascript" src="../static/js/bootstrap-table.js"></script>
    <script type="text/javascript" src="../static/js/fsapi.js"></script>

    <link rel="stylesheet" href="../static/css/limitup_whole_2.css" />
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../static/css/bootstrap-table.css" />
    <link rel="stylesheet" href="../static/css/bootstrap.css" />
    <link rel="stylesheet" href="../static/css/xeditable.css" />
    <link rel="stylesheet" href="../static/css/xeditable.min.css" />

    <script src="https://code.angularjs.org/1.5.8/angular.js"></script>
    <script src="https://code.angularjs.org/1.5.8/angular-sanitize.min.js"></script>
    <script src="https://code.angularjs.org/1.5.8/angular-mocks.js"></script>
    <script type="text/javascript" src="../static/js/xeditable.js"></script>
    <script type="text/javascript" src="../static/js/angular_table.js"></script>
    <!--<script type="text/javascript" src="../static/js/html2canvas.js"></script>-->
    <!--<script type="text/javascript" src="../static/js/jsPdf.debug.js"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.debug.js"></script>
    <script src="https://rawgit.com/eKoopmans/html2canvas/develop/dist/html2canvas.min.js"></script>
    <!--<script type="text/javascript" src="../static/js/limit_up.js"></script>-->
</head>
<body style="">
<!-- Init Page Content Start -->
<p>{{z}} </p>
<section class="outer-section">
  <div class="outer-wrapper1">
    <!-- <img class="banner" src="images/qd_s1.png" alt="" /> -->
    <p contenteditable = "true">{{element_list[0]}}涨停板复盘</p>
  </div>
</section>

<section class="outer-section" >
  <div ng-app="app" class="outer-wrapper2" style="height: 100%;">
    <br><br>
    <p style="color:red">@看懂龙头股(ID:mrztbfp)</p>
    <br>
    <h style="color:red; font-size: 30px; font-weight: bold;">I</h> <h style="padding:0px; margin:0px; font-size: 30px; font-weight: bold;">  每日独家涨停板统计</h> 
    <p style="color:grey">__________________________________________________________________</p>
    <br>
    <p style="color:red; margin:0px 0;font-weight:bold;">今日涨停板({{element_list[1]}}) </p>
    <p style="margin:12px 0; font-size:20px">共<font face="宋体" size="6" color="red">{{element_list[2]}}</font>只股涨停 非一字板<font face="宋体" size="6" color="red">{{element_list[3]}}</font>只 10:00前<font face="宋体" size="6" color="red">{{element_list[4]}}</font>只 {{element_list[5]}}概念<font face="宋体" size="6" color="red">{{element_list[6]}}</font>只涨停最多</p>
    <p style="font-weight: bold">__________________________________________________________________</p>
    <br>
    <p style="font-size:20px;margin:0px 0">昨日<font face="宋体" size="6" color="red">{{element_list[7]}}</font>只股票涨停 非一字板<font face="宋体" size="6" color="red">{{element_list[8]}}</font>只</p>
    <p style="margin:0px 0"> 以下统计均剔除新股等无量涨停不可能买入的个股</p>
    <p style="color:grey">__________________________________________________________________</p>
    <br>
    <p style="color:red; margin:0px 0;font-weight:bold;">昨日涨停个股今日开盘表现({{element_list[9]}}) </p>
    <p style="margin:12px 0; font-size:20px">打板次日高开率<font face="宋体" size="6" color="red">{{element_list[10]}}</font>(高开股/总涨停股)</p>
    <p style="font-weight: bold">__________________________________________________________________</p>
    <br>
    <p style="font-size:20px;margin:0px 0">一字开盘<font face="宋体" size="6" color="red">{{element_list[11]}}</font>只</p>
    <p style="font-size:20px;margin:0px 0">高开5%以上<font face="宋体" size="6" color="red">{{element_list[12]}}</font>只</p>
    <p style="font-size:20px;margin:0px 0">高开2%~5%之间<font face="宋体" size="6" color="red">{{element_list[13]}}</font>只</p>
    <p style="font-size:20px;margin:0px 0">高开0~2%之间<font face="宋体" size="6" color="red">{{element_list[14]}}</font>只</p>
    <p style="font-size:20px;margin:0px 0">低开0~-2%之间<font face="宋体" size="6" color="red">{{element_list[15]}}</font>只</p>
    <p style="font-size:20px;margin:0px 0">低开-2%以下<font face="宋体" size="6" color="red">{{element_list[16]}}</font>只</p>
    <p style="color:grey">__________________________________________________________________</p>
    <br>
    <p style="color:red; margin:0px 0;font-weight:bold;">昨日涨停个股今日收盘表现({{element_list[17]}}) </p>
    <p style="margin:12px 0; font-size:20px">打板次日成功率<font face="宋体" size="6" color="red">{{element_list[18]}}</font>(上涨股/总涨停股)</p>
    <p style="font-weight: bold">__________________________________________________________________</p>
    <br>
    <p style="font-size:20px;margin:0px 0">今日连板<font face="宋体" size="6" color="red">{{element_list[19]}}</font>只</p>
    <p style="font-size:20px;margin:0px 0">涨5%以上<font face="宋体" size="6" color="red">{{element_list[20]}}</font>只</p>
    <p style="font-size:20px;margin:0px 0">涨0%~5%之间<font face="宋体" size="6" color="red">{{element_list[21]}}</font>只</p>
    <p style="font-size:20px;margin:0px 0">下跌<font face="宋体" size="6" color="red">{{element_list[22]}}</font>只</p>
    <p style="font-size:20px;margin:0px 0">停牌<font face="宋体" size="6" color="red">{{element_list[23]}}</font>只</p>
    <p style="color:grey">__________________________________________________________________</p>
    <br>
    <p style="color:red; margin:0px 0;font-weight:bold;">昨日10：00前<font face="宋体" size="6" color="red">{{element_list[24]}}</font>只自然涨停({{element_list[25]}}) </p>
    <p style="margin:12px 0; font-size:20px">打板次日高开率<font face="宋体" size="6" color="red">{{element_list[26]}}</font></p>
    <p style="margin:12px 0; font-size:20px">打板次日成功率<font face="宋体" size="6" color="red">{{element_list[27]}}</font></p>
    <p style="color:grey">__________________________________________________________________</p>
      <p contenteditable="true" style="border-style: solid; border-color: red">这是一段可编辑的文字</p>
      <p style="color:grey">__________________________________________________________________</p>
        <div>
            <div ng-controller="UploadController ">
                <form>
                  <input type="file" ng-file-select="onFileSelect($files)" ng-model="imageSrc">
                  <!--  <input type="file" ng-file-select="onFileSelect($files)" multiple> -->
                </form>

                <img ng-src="{{imageSrc}}" />

            </div>
        </div>
      <p style="color:grey">__________________________________________________________________</p>
      {%raw%}
      <div ng-controller="CtrlOne">
          <form editable-form name="oneForm" onaftersave="saveTable()" oncancel="cancel()">

              <!-- table -->
              <table class="table table-bordered table-hover table-condensed">
                  <tr style="font-weight: bold">
                      <td colspan="1" style="color: red">
                          {{timeString}}
                      </td>
                      <td colspan="4" align="center">非一字连板股票池</td>
                  </tr>
                  <tr style="font-weight: bold">
                      <td style="width:20%">股票代码</td>
                      <td style="width:20%">股票名称</td>
                      <td style="width:20%">打板时间</td>
                      <td style="width:20%">第几板</td>
                      <td style="width:20%">涨停属性</td>
                      <td style="width:10%"><span ng-show="oneForm.$visible">Action</span></td>
                  </tr>
                  <tr ng-repeat="user in users | filter:filterUser">
                      <td>
                          <!-- editable username (text with validation) -->
                        <span editable-text="user.code" e-form="oneForm">
                          {{ user.code }}
                        </span>
                      </td>
                      <td>
                          <!-- editable username (text with validation) -->
                        <span editable-text="user.name" e-form="oneForm" onbeforesave="checkName($data, user.id)">
                          {{ showName(user) }}
                        </span>
                      </td>
                      <td>
                                  <!-- editable status (select-local) -->
                        <span editable-text="user.time" e-form="oneForm">
                          {{ showTime(user) }}
                        </span>
                      </td>
                      <td>
                                  <!-- editable group (select-remote) -->
                        <span editable-text="user.frequency" e-form="oneForm" >
                          {{ showFrequency(user) }}
                        </span>
                      </td>
                      <td>
                          <!-- editable group (select-remote) -->
                        <span editable-text="user.concept" e-form="oneForm" >
                          {{ showConcept(user) }}
                        </span>
                      </td>
                      <td><button type="button" ng-show="oneForm.$visible" ng-click="deleteUser(user.id)" class="btn btn-danger pull-right">删除</button></td>
                  </tr>

              </table>

              <!-- buttons -->
              <div class="btn-edit">
                  <button type="button" class="btn btn-default" ng-show="!oneForm.$visible" ng-click="oneForm.$show()">
                      edit
                  </button>
              </div>
              <div class="btn-form" ng-show="oneForm.$visible">
                  <button type="submit" ng-disabled="oneForm.$waiting" class="btn btn-primary">save</button>
                  <button type="button" ng-disabled="oneForm.$waiting" ng-click="oneForm.$cancel()" class="btn btn-default">cancel</button>
                  <p>股票代码:<br>
                  <input ng-model="TableCode">
                  <button type="button" ng-disabled="oneForm.$waiting" ng-click="generateInfo()" class="btn btn-default pull-right">生成数据</button>
              </div>

          </form>
      </div>
      <div ng-controller="CtrlRedian">
          <form editable-form name="redianForm" onaftersave="saveTable()" oncancel="cancel()">

              <!-- table -->
              <table class="table table-bordered table-hover table-condensed">
                  <tr style="font-weight: bold">
                      <td colspan="1" style="color: red">
                          {{timeString}}
                      </td>
                      <td colspan="4" align="center">热点板块模块</td>
                  </tr>
                  <tr style="font-weight: bold">
                      <td style="width:20%">股票代码</td>
                      <td style="width:20%">股票名称</td>
                      <td style="width:20%">打板时间</td>
                      <td style="width:20%">第几板</td>
                      <td style="width:20%">是否开板</td>
                      <td style="width:10%"><span ng-show="redianForm.$visible">Action</span></td>
                  </tr>
                  <tr ng-repeat="user in users | filter:filterUser">
                      <td>
                          <!-- editable username (text with validation) -->
                        <span editable-text="user.code" e-form="redianForm">
                          {{ user.code }}
                        </span>
                      </td>
                      <td>
                          <!-- editable username (text with validation) -->
                        <span editable-text="user.name" e-form="redianForm" onbeforesave="checkName($data, user.id)">
                          {{ showName(user) }}
                        </span>
                      </td>
                      <td>
                                  <!-- editable status (select-local) -->
                        <span editable-text="user.time" e-form="redianForm">
                          {{ showTime(user) }}
                        </span>
                      </td>
                      <td>
                                  <!-- editable group (select-remote) -->
                        <span editable-text="user.frequency" e-form="redianForm" >
                          {{ showFrequency(user) }}
                        </span>
                      </td>
                      <td>
                          <!-- editable group (select-remote) -->
                        <span editable-text="user.concept" e-form="redianForm" >
                          {{ showConcept(user) }}
                        </span>
                      </td>
                      <td><button type="button" ng-show="redianForm.$visible" ng-click="deleteUser(user.id)" class="btn btn-danger pull-right">删除</button></td>
                  </tr>

              </table>

              <!-- buttons -->
              <div class="btn-edit">
                  <button type="button" class="btn btn-default" ng-show="!redianForm.$visible" ng-click="redianForm.$show()">
                      edit
                  </button>
              </div>
              <div class="btn-form" ng-show="redianForm.$visible">
                  <button type="submit" ng-disabled="redianForm.$waiting" class="btn btn-primary">save</button>
                  <button type="button" ng-disabled="redianForm.$waiting" ng-click="redianForm.$cancel()" class="btn btn-default">cancel</button>
                  <p>股票代码:<br>
                  <input ng-model="TableCode">
                  <button type="button" ng-disabled="redianForm.$waiting" ng-click="generateInfo()" class="btn btn-default pull-right">生成数据</button>
              </div>

          </form>
      </div>
      <div ng-controller="CtrlOther">
          <form editable-form name="otherForm" onaftersave="saveTable()" oncancel="cancel()">

              <!-- table -->
              <table class="table table-bordered table-hover table-condensed">
                  <tr style="font-weight: bold">
                      <td colspan="1" style="color: red">
                          {{timeString}}
                      </td>
                      <td colspan="4" align="center">其他涨停</td>
                  </tr>
                  <tr style="font-weight: bold">
                      <td style="width:20%">股票代码</td>
                      <td style="width:20%">股票名称</td>
                      <td style="width:20%">打板时间</td>
                      <td style="width:20%">第几板</td>
                      <td style="width:20%">概念</td>
                      <td style="width:10%"><span ng-show="otherForm.$visible">Action</span></td>
                  </tr>
                  <tr ng-repeat="user in users | filter:filterUser">
                      <td>
                          <!-- editable username (text with validation) -->
                        <span editable-text="user.code" e-form="otherForm">
                          {{ user.code }}
                        </span>
                      </td>
                      <td>
                          <!-- editable username (text with validation) -->
                        <span editable-text="user.name" e-form="otherForm" onbeforesave="checkName($data, user.id)">
                          {{ showName(user) }}
                        </span>
                      </td>
                      <td>
                                  <!-- editable status (select-local) -->
                        <span editable-text="user.time" e-form="otherForm">
                          {{ showTime(user) }}
                        </span>
                      </td>
                      <td>
                                  <!-- editable group (select-remote) -->
                        <span editable-text="user.frequency" e-form="otherForm" >
                          {{ showFrequency(user) }}
                        </span>
                      </td>
                      <td>
                          <!-- editable group (select-remote) -->
                        <span editable-text="user.concept" e-form="otherForm" >
                          {{ showConcept(user) }}
                        </span>
                      </td>
                      <td><button type="button" ng-show="otherForm.$visible" ng-click="deleteUser(user.id)" class="btn btn-danger pull-right">删除</button></td>
                  </tr>

              </table>

              <!-- buttons -->
              <div class="btn-edit">
                  <button type="button" class="btn btn-default" ng-show="!otherForm.$visible" ng-click="otherForm.$show()">
                      edit
                  </button>
              </div>
              <div class="btn-form" ng-show="otherForm.$visible">
                  <button type="submit" ng-disabled="otherForm.$waiting" class="btn btn-primary">save</button>
                  <button type="button" ng-disabled="otherForm.$waiting" ng-click="otherForm.$cancel()" class="btn btn-default">cancel</button>
                  <p>股票代码:<br>
                  <input ng-model="TableCode" >
                  <button type="button" ng-disabled="otherForm.$waiting" ng-click="generateInfo()" class="btn btn-default pull-right">生成数据</button>
              </div>

          </form>
      </div>
      <div ng-controller="CtrlZtbz">
          <form editable-form name="ztbzForm" onaftersave="saveTable()" oncancel="cancel()">

              <!-- table -->
              <table class="table table-bordered table-hover table-condensed">
                  <tr style="font-weight: bold">
                      <td colspan="1" style="color: red">
                          {{timeString}}
                      </td>
                      <td colspan="4" align="center">涨停被砸股票池</td>
                  </tr>
                  <tr style="font-weight: bold">
                      <td style="width:20%">股票名称</td>
                      <td style="width:20%">涨幅%</td>
                      <td style="width:20%">首次封板</td>
                      <td style="width:20%">概念</td>
                      <td style="width:10%"><span ng-show="ztbzForm.$visible">Action</span></td>
                  </tr>
                  <tr ng-repeat="user in users | filter:filterUser">
                      <td>
                          <!-- editable username (text with validation) -->
                        <span editable-text="user.name" e-form="ztbzForm" onbeforesave="checkName($data, user.id)">
                          {{ showName(user) }}
                        </span>
                      </td>
                      <td>
                                  <!-- editable status (select-local) -->
                        <span editable-text="user.chg" e-form="ztbzForm">
                          {{ showChg(user) }}
                        </span>
                      </td>
                      <td>
                          <!-- editable username (text with validation) -->
                        <span editable-text="user.first_limitup" e-form="ztbzForm">
                          {{ user.first_limitup }}
                        </span>
                      </td>
                      <td>
                          <!-- editable group (select-remote) -->
                        <span editable-text="user.concept" e-form="ztbzForm" >
                          {{ showConcept(user) }}
                        </span>
                      </td>
                      <td><button type="button" ng-show="ztbzForm.$visible" ng-click="deleteUser(user.id,'ztbz')" class="btn btn-danger pull-right">删除</button></td>
                  </tr>

              </table>

              <!-- buttons -->
              <div class="btn-edit">
                  <button type="button" class="btn btn-default" ng-show="!ztbzForm.$visible" ng-click="ztbzForm.$show()">
                      edit
                  </button>
              </div>
              <div class="btn-form" ng-show="ztbzForm.$visible">
                  <button type="submit" ng-disabled="ztbzForm.$waiting" class="btn btn-primary">save</button>
                  <button type="button" ng-disabled="ztbzForm.$waiting" ng-click="ztbzForm.$cancel()" class="btn btn-default">cancel</button>
                  <p>股票代码:<br>
                  <input ng-model="TableCode" >
                  <button type="button" ng-disabled="ztbzForm.$waiting" ng-click="generateInfo()" class="btn btn-default pull-right">生成数据</button>

              </div>

          </form>
      </div>
      {%endraw%}
    <p style="color:grey">__________________________________________________________________</p>
	<input type="button" onClick="FireShotAPI.exportPage(true)" value="download">
    <br>
  </div>
</section>

<section class="outer-section">
  <div class="outer-wrapper3">
  </div>
</section>

</body>
</html>