<!DOCTYPE html>
<html style="height: 100%;">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta name="searchtitle" content="">
    <meta name="title" content="">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link rel="shortcut icon" href="../static/images/favicon.ico" />
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" />
    <!--[if lt IE 9]>
    <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../static/js/bootstrap.js"></script>
    <script type="text/javascript" src="../static/js/bootstrap-table.js"></script>
    <link rel="stylesheet" href="../static/css/limitup_whole_2.css" />
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../static/css/bootstrap-table.css" />
    <link rel="stylesheet" href="../static/css/bootstrap.css" />
</head>
<body style="height: 100%;">
<!-- Init Page Content Start -->

<section class="outer-section">
  <div class="outer-wrapper1">
    <!-- <img class="banner" src="images/qd_s1.png" alt="" /> -->
    <p contenteditable = "true">10月11日涨停板复盘</p>
  </div>
</section>

<section class="outer-section" >
  <div class="outer-wrapper2" style="height: 100%;">
    <br><br>
    <p style="color:red">@看懂龙头股(ID:mrztbfp)</p>
    <br>
    <h style="color:red; font-size: 30px; font-weight: bold;">I</h> <h style="padding:0px; margin:0px; font-size: 30px; font-weight: bold;">  每日独家涨停板统计</h> 
    <p style="color:grey">__________________________________________________________________</p>
    <br>
    <p style="color:red; margin:0px 0;font-weight:bold;">今日涨停板(10月11日) </p>
    <p style="margin:12px 0; font-size:20px">共<font face="宋体" size="6" color="red">20</font>只股涨停 非一字板<font face="宋体" size="6" color="red">16</font>只 10:00前<font face="宋体" size="6" color="red">16</font>只次新+填权概念<font face="宋体" size="6" color="red">16</font>只涨停最多</p> 
    <p style="font-weight: bold">__________________________________________________________________</p>
    <br>
    <p style="font-size:20px;margin:0px 0">昨日<font face="宋体" size="6" color="red">41</font>只股票涨停 非一字板<font face="宋体" size="6" color="red">35</font>只</p>
    <p style="margin:0px 0"> 以下统计均剔除新股等无量涨停不可能买入的个股</p>
    <p style="color:grey">__________________________________________________________________</p>
    <br>
    <p style="color:red; margin:0px 0;font-weight:bold;">昨日涨停个股今日开盘表现(10月10日) </p>
    <p style="margin:12px 0; font-size:20px">打板次日高开率<font face="宋体" size="6" color="red">46%</font>(高开股/总涨停股)</p> 
    <p style="font-weight: bold">__________________________________________________________________</p>
    <br>
    <p style="font-size:20px;margin:0px 0">一字开盘<font face="宋体" size="6" color="red">1</font>只</p>
    <p style="font-size:20px;margin:0px 0">高开5%以上<font face="宋体" size="6" color="red">0</font>只</p>
    <p style="font-size:20px;margin:0px 0">高开2%~5%之间<font face="宋体" size="6" color="red">4</font>只</p>
    <p style="font-size:20px;margin:0px 0">高开0~2%之间<font face="宋体" size="6" color="red">11</font>只</p>
    <p style="font-size:20px;margin:0px 0">低开0~-2%之间<font face="宋体" size="6" color="red">1</font>只</p>
    <p style="font-size:20px;margin:0px 0">低开-2%以下<font face="宋体" size="6" color="red">17</font>只</p>
    <p style="color:grey">__________________________________________________________________</p>
    <br>
    <p style="color:red; margin:0px 0;font-weight:bold;">昨日涨停个股今日收盘表现(10月10日) </p>
    <p style="margin:12px 0; font-size:20px">打板次日成功率<font face="宋体" size="6" color="red">49%</font>(上涨股/总涨停股)</p> 
    <p style="font-weight: bold">__________________________________________________________________</p>
    <br>
    <p style="font-size:20px;margin:0px 0">今日连板<font face="宋体" size="6" color="red">1</font>只</p>
    <p style="font-size:20px;margin:0px 0">涨5%以上<font face="宋体" size="6" color="red">0</font>只</p>
    <p style="font-size:20px;margin:0px 0">涨0%~5%之间<font face="宋体" size="6" color="red">4</font>只</p>
    <p style="font-size:20px;margin:0px 0">下跌<font face="宋体" size="6" color="red">11</font>只</p>
    <p style="font-size:20px;margin:0px 0">停牌<font face="宋体" size="6" color="red">1</font>只</p>
    <p style="color:grey">__________________________________________________________________</p>
    <br>
    <p style="color:red; margin:0px 0;font-weight:bold;">昨日10：00前<font face="宋体" size="6" color="red">16</font>只自然涨停(10月10日) </p>
    <p style="margin:12px 0; font-size:20px">打板次日高开率<font face="宋体" size="6" color="red">69%</font></p>
    <p style="margin:12px 0; font-size:20px">打板次日成功率<font face="宋体" size="6" color="red">69%</font></p> 
    <div class="fyzlb">
      <table id="fyzlbTable"
             data-toggle="table"
             data-toolbar="#toolbar">
          <thead>
          <tr>
              <th data-field="code">概念</th>
              <th data-field="RT_LAST">股票代码</th>
              <th data-field="RT_BID1">股票名称</th>
              <th data-field="RT_ASK1">打板时间</th>
              <th data-field="AVERAGE_PRICE">第几板</th>
              <th data-field="RT_BASIS">涨停属性</th>
          </tr>
		<tr>
			<td  style="text-align:center; " onclick="tdclick(this)"></td>
			<td  style="text-align:center; " onclick="tdclick(this)"></td>
			<td  style="text-align:center; " onclick="tdclick(this)"></td>
			<td  style="text-align:center; " onclick="tdclick(this)"></td>
			<td  style="text-align:center; " onclick="tdclick(this)"></td>
			<td  style="text-align:center; " onclick="tdclick(this)"></td>
			<td   style="text-align:center; " onclick="deletetr(this)">
			<button type="button"  class="btn btn-xs btn-link">删除</button>
			</td>
		</tr>
          </thead>
      </table>
    </div>
  </div>
</section>

<section class="outer-section">
  <div class="outer-wrapper3">
  </div>
</section>

<script>

</script>
</body>
</html>